


.coin-container{
display: flex;
justify-content: center;
padding-top: 7px;

}

.coin-row{
    
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid #a89292;
    width: 900px;
    
    box-shadow: 10px 10px #c7b5b5;
    border-radius: 15px;
    
    padding-left: 15px;
    padding-right: 15px;
    
}

@media only screen and(max-width: 768px){
    .coin-container{
        width: 50%;
    }
    .coin-row{
        width: 50%;
    }
}

.coin-row:hover{
    background-color: #f1f5f7;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1 {
    font-size: 16px;
    width: 150px;
    
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price{
    width: 110px;
}

.coin-volume{
    width: 230px;
}

.coin-marketcap{
    width: 155px;
}

.coin-percent{
    width: 100%;
}

.bg-red{
  background-color:#f00606;
  border-radius: 5px;
  height: 45px;
  width: 70px;
  
}
.red{
    color: #d7d7d7;
}
.green{
    color: #d7d7d7;
}
.bg-green{
    background-color: #11d811;
    border-radius: 5px;
    height: 45px;
    width: 70px;
}